# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'
crime = pd.read_csv(url)

### Step 3. Assign it to a variable called crime.

In [3]:
print(crime.head())

   Year  Population    Total  Violent  Property  Murder  Forcible_Rape  \
0  1960   179323175  3384200   288460   3095700    9110          17190
1  1961   182992000  3488000   289390   3198600    8740          17220
2  1962   185771000  3752200   301510   3450700    8530          17550
3  1963   188483000  4109500   316970   3792500    8640          17650
4  1964   191141000  4564600   364220   4200400    9360          21420

   Robbery  Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
0   107840              154320    912100        1855400         328200
1   106670              156760    949600        1913000         336000
2   110860              164570    994300        2089600         366800
3   116470              174210   1086400        2297800         408300
4   130390              203050   1213200        2514400         472800

### Step 4. What is the type of the columns?

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

### Step 6. Set the Year column as the index of the dataframe

### Step 7. Delete the Total column

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

### Step 9. What is the most dangerous decade to live in the US?