<a href="https://colab.research.google.com/github/chrisseub/Arewa-Data-Science-Assignments/blob/main/FUNCTIONS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function `add_two_numbers`

In [1]:
def add_two_numbers(a, b):
    return a + b

# Example
print("Sum of TWO NUMBERS:", add_two_numbers(3, 5))

Sum of TWO NUMBERS: 8

Function `area_of_circle`

In [2]:
import math

def area_of_circle(r):
    return math.pi * r * r

print("Area of a circle with radius 7:", area_of_circle(7))

Area of a circle with radius 7: 153.93804002589985

Function `add_all_nums`

In [3]:
def add_all_nums(*args):
    if all(isinstance(arg, (int, float)) for arg in args):
        return sum(args)
    else:
        return "Error: All arguments must be numbers."

print("Sum of 1, 2, 3:", add_all_nums(1, 2, 3))
print("Sum of 1, 'a', 3:", add_all_nums(1, 'a', 3))

Sum of 1, 2, 3: 6
Sum of 1, 'a', 3: Error: All arguments must be numbers.

Function `convert_celsius_to_fahrenheit`

In [4]:
def convert_celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print("째C to 째F:", convert_celsius_to_fahrenheit(25))

째C to 째F: 77.0

Function `check_season`

In [5]:
def check_season(month):
    month = month.strip().capitalize()  # Handle case insensitivity
    if month in ["September", "October", "November"]:
        return "Autumn"
    elif month in ["December", "January", "February"]:
        return "Winter"
    elif month in ["March", "April", "May"]:
        return "Spring"
    elif month in ["June", "July", "August"]:
        return "Summer"
    else:
        return "Invalid month."

print("Season for November:", check_season("November"))
print("Season for March:", check_season("march"))
print("Season for InvalidMonth:", check_season("InvalidMonth"))

Season for November: Autumn
Season for March: Spring
Season for InvalidMonth: Invalid month.