These are the excercises for module 
Assignment for Lists, Tuples and Sets

In [4]:
empty_list = []
print(empty_list)
five_items = ['tshirt', 'shirt', 'cap', 'sunglass', 'jean']
first_middle_last = five_items[::2]
print(first_middle_last)
print("Number of items:", len(five_items))

[]
['tshirt', 'cap', 'jean']
Number of items: 5

In [3]:
mixed_data_types = ['Christopher', '27', '170cm', 'single', 'Ibadan']
IT_Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(mixed_data_types)
print(IT_Companies)
print("Number of Companies:", len(IT_Companies))
five_items.extend(mixed_data_types)
print('Both lists:', five_items)

['Christopher', '27', '170cm', 'single', 'Ibadan']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Number of Companies: 7
Both lists: ['tshirt', 'shirt', 'cap', 'sunglass', 'jean', 'Christopher', '27', '170cm', 'single', 'Ibadan']