These are the excercises for module 
Assignment for Lists, Tuples and Sets

In [5]:
empty_list = []
print(empty_list)
five_items = ['tshirt', 'shirt', 'cap', 'sunglass', 'jean']
first_middle_last = five_items[::2]
print(first_middle_last)
print("Number of items:", len(five_items))

[]
['tshirt', 'cap', 'jean']
Number of items: 5

In [6]:
mixed_data_types = ['Christopher', 27, '170cm', 'single', 'Ibadan']
IT_Companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(mixed_data_types)
print(IT_Companies)
print("Number of Companies:", len(IT_Companies))
five_items.extend(mixed_data_types)
print('Both lists:', five_items)

['Christopher', 27, '170cm', 'single', 'Ibadan']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Number of Companies: 7
Both lists: ['tshirt', 'shirt', 'cap', 'sunglass', 'jean', 'Christopher', 27, '170cm', 'single', 'Ibadan']

In [3]:
#SETS
IT_Companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = {22, 19, 24, 25, 26, 24, 25, 24}
print(len(IT_Companies))
IT_Companies.add('Twitter')
print(IT_Companies)

7
{'Twitter', 'Oracle', 'Microsoft', 'Google', 'Apple', 'Facebook', 'Amazon', 'IBM'}

In [9]:
#TUPLES
empty_tuple = ()
sibling_bros = ('Samuel', 'Moses')
sibling_sis = ('Deborah', 'Lizzy')
siblings = sibling_bros + sibling_sis
len(siblings)
family_list = 'Chris', list(siblings)
print(family_list)

nordic_countries = ('Denmark','Finland','Iceland','Norway','Sweden')
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

('Chris', ['Samuel', 'Moses', 'Deborah', 'Lizzy'])
False
True